@use '../styles/colors';

.navigation-bar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: colors.$dark;

   .lhs {
      flex-grow: 1;
      a {
         display: inline-block;
         padding: 1em;
         color: colors.$light;
         text-decoration: none;
         background-color: colors.$dark;
         transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
         &:hover:not(.active) {
            background-color: darken(colors.$primary, 5);
         }
         &.active {
            background-color: colors.$primary;
            cursor: pointer;
         }
      }
   }
}

.root-router-content {
   padding: 1em;
}
