<div class="singleton-vs-non-container">
   <div class="header">
      <h2>Instance {{ id }}</h2>
      <div (click)="removeInstance.emit()" class="remove">&#10006;</div>
   </div>

   <br />

   <div class="state-views">
      <div class="state-container">
         <label>Singleton Service State View</label>
         <pre>{{ singletonState.view() | json }}</pre>
         <button (click)="singletonState.increment()">
            Increment Singleton Service
         </button>
      </div>

      <div class="state-container">
         <label>Non Singleton Service State View</label>
         <pre>{{ nonSingletonState.view() | json }}</pre>

         <button (click)="nonSingletonState.increment()">
            Increment NonSingleton Service
         </button>
      </div>
   </div>
</div>
