<div class="singleton-vs-non-container">
   <h2>Instance {{ id }}</h2>

   <br />

   <div class="state-views">
      <div class="state-container">
         <label>Singleton State View</label>
         <pre>{{ singletonService.state.view() | json }}</pre>
         <button (click)="singletonService.increment()">
            Increment Singleton Service
         </button>
      </div>

      <div class="state-container">
         <label>Non Singleton State View</label>
         <pre>{{ nonSingletonService.state.view() | json }}</pre>

         <button (click)="nonSingletonService.increment()">
            Increment NonSingleton Service
         </button>
      </div>
   </div>
</div>
